@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark: #210c0c;
  --gray: #474747;
  --accent: #110057;
  --brown: #e18524ba;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark: var(--dark);
  --color-gray: var(--gray);
  --color-accent: var(--accent);
  --color-brown: var(--brown);
  --font-primary: var(--font-poppins);
  --font-secondary: var(--font-roboto);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-accent);
}
::-webkit-scrollbar-track {
  background: var(--color-background);
}
::-webkit-scrollbar-track:hover {
  background: var(--color-background);
}

.font-secondary {
  font-family: var(--font-secondary), sans-serif;
}

.custom-shape-divider-bottom-1760165444 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1760165444 svg {
  position: relative;
  display: block;
  width: calc(153% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1760165444 .shape-fill {
  fill: #ffffff;
}

.custom-shape-divider-top-1760175333 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1760175333 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 83px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1760175333 .shape-fill {
  fill: #ffffff;
}
